<mat-tab-group
  preserveContent
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  cdkDropListElementContainer=".mat-mdc-tab-labels"
  class="example-drag-tabs"
  (selectedTabChange)="onTabChanged($event)"
  [(selectedIndex)]="selectedTabIndex"
  animationDuration="0">
  @for (tab of tabs; track tab.id ) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span
          cdkDrag
          cdkDragPreviewClass="example-drag-tabs-preview"
          cdkDragRootElement=".mat-mdc-tab">{{tab.title}}</span>
      </ng-template>

<!--      <router-outlet></router-outlet>-->
      <router-outlet [name]="tab.outlet"></router-outlet>
    </mat-tab>
  }
</mat-tab-group>
<!--<router-outlet></router-outlet>-->

<!--<nav mat-tab-nav-bar [tabPanel]="tabPanel">-->
<!--  @for (tab of tabs; track tab.id) {-->
<!--    <a mat-tab-link-->
<!--       (click)="activeLink = tab.route"-->
<!--       [active]="activeLink == tab.route"> {{tab.title}} </a>-->
<!--  }-->
<!--  <a mat-tab-link disabled>Disabled Link</a>-->
<!--</nav>-->
<!--<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>-->
