<p-tabView
  [(activeIndex)]="activeIndex"
  [scrollable]="true"
  (onChange)="onTabChange($event)"
  (onClose)="
        $event.originalEvent.preventDefault();
        $event.originalEvent.stopPropagation();
        onTabClose($event)
      "
>
  <p-tabPanel
    *ngFor="let tab of tabs; let i = index"
    [header]="tab.title"
    [closable]="tab.closable"
    [selected]="tab.id === activeTabId"
  >
    <ng-template pTemplate="header">
      <div class="tab-header-wrapper">
        <i [class]="tab.icon" (click)="onTabClose({index: i})"></i>
        <span>{{tab.title}}</span>
      </div>
    </ng-template>
    <router-outlet *ngIf="activeIndex === i"></router-outlet>
  </p-tabPanel>
</p-tabView>
