<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  class="tab-list"
  cdkDropListOrientation="horizontal"
>
  <p-tabView
    [(activeIndex)]="activeIndex"
    [scrollable]="true"
    (onChange)="onTabChange($event)"
  >
    <p-tabPanel
      *ngFor="let tab of tabs; let i = index"
      [header]="tab.title"
      [cache]="true"
      [closable]="tab.closable"
      [selected]="tab.id === activeTabId"
    >
      <ng-template pTemplate="header">
        <div class="tab-header-wrapper" cdkDrag>
          <i [class]="tab.icon" (click)="$event.stopPropagation();onTabClose({index: i})"></i>
          <span>{{tab.title}}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content"> <router-outlet *ngIf="activeIndex === i"></router-outlet> </ng-template>

    </p-tabPanel>
  </p-tabView>
</div>

<!--<div-->
<!--  cdkDropList-->
<!--  (cdkDropListDropped)="drop($event)"-->
<!--  class="tab-list"-->
<!--  cdkDropListOrientation="horizontal"-->
<!--&gt;-->
<!--  <p-tabs [(value)]="selected.value!" (valueChange)="onTabChange($event)" [lazy]="false" scrollable>-->
<!--    <p-tablist>-->
<!--      @for (tab of tabs; track tab.id; let i = $index) {-->
<!--        <p-tab [value]="i" cdkDrag (cdkDragStarted)="dragStarted($event, i)">-->
<!--          <span>{{ tab.title }}</span>-->
<!--          <i-->
<!--            [class]="tab.icon"-->
<!--            (click)="removeTab($event, i); $event.stopPropagation()"-->
<!--          ></i>-->
<!--          &lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<!--        </p-tab>-->
<!--      }-->
<!--    </p-tablist>-->
<!--    <p-tabpanels>-->
<!--      @for (tab of tabs; track tab.id) {-->
<!--        <p-tabpanel [value]="tab.id">-->
<!--          <router-outlet *ngIf="activeIndex === tab.id"></router-outlet>-->
<!--        </p-tabpanel>-->
<!--      }-->
<!--    </p-tabpanels>-->

<!--  </p-tabs>-->
<!--&lt;!&ndash;  <router-outlet></router-outlet>&ndash;&gt;-->
<!--</div>-->
