/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.tab-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  ::ng-deep .p-tabview-nav {
    display: flex;
  }

  ::ng-deep .p-tabview-nav li[cdkdrag] {
    cursor: move;
  }
}

.cdk-drag-preview {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important;
  border-radius: 6px !important;
  //background: white;
  overflow: hidden !important;
}

p-tabview{
  width: 100%;
}

.p-ripple{
  overflow: unset !important;
}
